@import "foundation_and_overrides";

.form {
  background-color: gray;
  color: black;
  font-size: 10px;
  margin-top: 10%;
}

.back-links {
  color: black;
  text-align: center;
  margin-bottom: 10%;
}
