@import "foundation_and_overrides";

.splash-container {
  background: url(apple-iphone-books-desk.jpg) no-repeat center center;
  height: 100%;
}

h1 {
  color: black;
  text-align: center;
  margin-top: 30%;
}
