@import "foundation_and_overrides";

.splash-container {
  background-image: image-url('apple-iphone-books-desk.jpg');
  background-repeat: no-repeat;
  background-position: center center fixed;
  height: 100%;
}

h1 {
  color: black;
  text-align: center;
  margin-top: 30%;
}
