@import "foundation_and_overrides";

body {
  background: url(apple-iphone-books-desk.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  color: black;
  text-align: center;
  margin-top: 20px;
}
